html{
    font-size: 22px
}
body{
    background-color: #333;
    color:white;
}
a{
    color:white;
}
a:visited{
    color:gray;
}
a:hover,a:active{
    color:red;
}
table,tr,th,td,caption{
    border  : 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding:0.25rem;
}